body {
  background-color: #C2C2B7;
}

.container {
  margin: auto;
  margin-top: 40px;

  width: 850px;
  height: 600px;
  border-radius: 10px;

  font-family: 'Montserrat', sans-serif;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.cell {
  width: 150px;
  height: 150px;
  border: 3px solid #06552E;
  box-shadow: 8px 8px 24px -3px rgba(66, 68, 90, 1);
  border-radius: 10px;
  background-color: #FFFFFE;
}
