body {
  background-color: #E7E6E0;
}



.title {
  color: #06552e;
  font-size: 45px;
  align-items: center;
  font-family: "Gloria Hallelujah", cursive;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  margin-top: 50px;
  width: 850px;
  height: 800px;
  border-radius: 10px;

  font-family: "Gloria Hallelujah", cursive;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.cell {
  width: 150px;
  height: 150px;
  border: 2px solid #06552e;
  box-shadow: 8px 8px 24px -3px rgba(66, 68, 90, 1);
  border-radius: 10px;
  background-color: #c2c2b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell_img {
  height: 70%;
}

.cell_background {
  border-radius: 10px;
  width: 100%;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #06552e;
}

